* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

// Для отображения единиц в rem
html {
  font-size: 10px;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-size: 1.6rem;

  background: var(--background-color);
  color: var(--inv-background-color);
}

:root[data-theme='dark'] {
  --background-color: #0a1016;
  --inv-background-color: #fbfcfc;
  --background-2: #1c2833;
  --border: #bdc3c7;
  --border: #566573;
}

:root[data-theme='light'] {
  --background-color: #fbfcfc;
  --inv-background-color: #0a1016;
  --background-2: #f4f6f6;
  --border: #d7dbdd;
}

a {
  color: inherit;
  text-decoration: none;
}

.h1,
h1 {
  font-size: 5rem;
}

.h2,
h2 {
  font-size: 4rem;
}

.h3,
h3 {
  font-size: 3rem;
}

.h4,
h4 {
  font-size: 2rem;
}

.h5,
h5 {
  font-size: 1.6rem;
}
